
@{
    ViewBag.Title = "GeraetHinzufuegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar_side_child navbar-inverse navbar-fixed-side-child">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Übersicht Geräte", "Index", "Geraeteverwaltung")</li>
            <li>@Html.ActionLink("Gerät hinzufügen", "GeraetHinzufuegen", "Geraeteverwaltung")</li>
            <li>@Html.ActionLink("Übersicht Komponenten", "Index", "Geraetkomponentenverwaltung")</li>
            <li>@Html.ActionLink("Komponente hinzufügen", "GeraetkomponenteHinzufuegen", "Geraetkomponentenverwaltung")</li>
            <li>@Html.ActionLink("Übersicht Gerätearten", "Index", "Geraeteartverwaltung")</li>
            <li>@Html.ActionLink("Geräteart hinzufügen", "GeraeteartHinzufuegen", "Geraeteartverwaltung")</li>
        </ul>
    </div>
</div>

<h3>Gerät hinzufügen</h3>

<div id="content">
    <table>
        <tr><td>Bezeichnung</td><td><input id="titel" type="text" /></td></tr>
        <tr><td>Hersteller</td><td><input id="hersteller_id" type="text" /></td></tr>
        <tr><td>Gewährleistung in Monate</td><td><input ID="gewaehrleistung" type="text" /></td></tr>
        <tr><td>Art</td><td><input id="art_id" type="text" /></td></tr>
        <tr><td>Lieferant</td><td><input id="lieferant_id" type="text" /></td></tr>
        <tr><td>Einkaufsdatum</td><td><input id="einkaufsdatum" type="date" /></td></tr>
        <tr><td>Einkaufsbeleg</td><td><input id="einkaufsbeleg" type="file" /></td></tr>
        <tr><td>Raum</td><td><input id="raum_id" type="text" /></td></tr>
        <tr><td>Notiz</td><td><input id="notiz" type="text"  /></td></tr>
    </table>


    <br /><br /><br />
    <input id="zurücksetzen" type="reset" value="Zurücksetzen" class="btn btn-primary" />
    <input id="erstellen" type="submit" value="Erstellen" class="btn btn-primary" />
    <br /><br />
    <input id="zurueck" type="submit" value="Zurück" class="btn btn-primary" />
</div>