
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar_side_child navbar-inverse navbar-fixed-side-child">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Benutzer-Liste", "Index", "Geraeteverwaltung")</li>
            <li>@Html.ActionLink("Benutzer hinzufügen", "BenutzerHinzufuegen", "Geraeteverwaltung")</li>
            <li>@Html.ActionLink("Gerätkomponenten-Liste", "Index", "Geraetkomponentenverwaltung")</li>
            <li>@Html.ActionLink("Gerätkomponente hinzufügen", "GeraetkomponenteHinzufuegen", "Geraetkomponentenverwaltung")</li>
            <li>@Html.ActionLink("Geräteart-Liste", "Index", "Geraeteartverwaltung")</li>
            <li>@Html.ActionLink("Geräteart hinzufügen", "GeraeteartHinzufuegen", "Geraeteartverwaltung")</li>
        </ul>
    </div>
</div>




<h2>Geräte-Liste</h2>

