
@{
    ViewBag.Title = "GeraeteartDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar_side_child navbar-inverse navbar-fixed-side-child">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Übersicht Geräte", "Index", "Geraeteverwaltung")</li>
            <li>@Html.ActionLink("Gerät hinzufügen", "GeraetHinzufuegen", "Geraeteverwaltung")</li>
            <li>@Html.ActionLink("Übersicht Komponenten", "Index", "Geraetkomponentenverwaltung")</li>
            <li>@Html.ActionLink("Komponente hinzufügen", "GeraetkomponenteHinzufuegen", "Geraetkomponentenverwaltung")</li>
            <li>@Html.ActionLink("Übersicht Gerätearten", "Index", "Geraeteartverwaltung")</li>
            <li>@Html.ActionLink("Geräteart hinzufügen", "GeraeteartHinzufuegen", "Geraeteartverwaltung")</li>
        </ul>
    </div>
</div>

<div class="navbar-fixed-side-child">
    <p><a href="~/Geraeteverwaltung/Index">Geräte-Liste</a></p>
    <p><a href="~/Geraeteverwaltung/GeraetHinzufuegen">Gerät hinzufügen</a></p>
    <p><a href="~/Geraetkomponentenverwaltung/Index">Gerätkomponenten-Liste</a></p>
    <p><a href="~/Geraetkomponentenverwaltung/GeraetkomponenteHinzufuegen">Gerätekomponente hinzufügen</a></p>
    <p><a href="~/Geraeteartverwaltung/Index">Geräteart-Liste</a></p>
    <p><a href="~/Geraeteartverwaltung/GeraeteartHinzufuegen">Geräteart hinzufügen</a></p>
</div>


<h3>Geräteart bearbeiten</h3>


<table style="width:100%;">
    <tr><td>Bezeichnung</td><td><input id="bezeichnung" type="text" value="Geräteart" contenteditable="false" /></td></tr>    
</table>

<br />


<input id="aendern" type="submit" value="Ändern" onclick="btnAendern_Click" class="btn btn-primary" />
<input id="loeschen" type="submit" value="Löschen" onclick="btnLoeschen_Click" class="btn btn-primary" />
<input id="zurueck" type="submit" value="Zurück" onclick="btnZurueck_Click" class="btn btn-primary" />