
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar_side_child navbar-inverse navbar-fixed-side-child">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Übersicht Geräte", "Index", "Geraeteverwaltung")</li>
            <li>@Html.ActionLink("Gerät hinzufügen", "GeraetHinzufuegen", "Geraeteverwaltung")</li>
            <li>@Html.ActionLink("Übersicht Komponenten", "Index", "Geraetkomponentenverwaltung")</li>
            <li>@Html.ActionLink("Komponente hinzufügen", "GeraetkomponenteHinzufuegen", "Geraetkomponentenverwaltung")</li>
            <li>@Html.ActionLink("Übersicht Gerätearten", "Index", "Geraeteartverwaltung")</li>
            <li>@Html.ActionLink("Geräteart hinzufügen", "GeraeteartHinzufuegen", "Geraeteartverwaltung")</li>
        </ul>
    </div>
</div>


<h3>Übersicht Gerätearten</h3>



<table style="width:100%;">

    <thead><th>ID</th><th>Bezeichnung</th><th>Erstellt am</th><th>Bearbeiten</th></thead>
    <tbody<tr><td>42</td><td>Laptop</td><td>morgen</td><td><a href="~/Geraeteartverwaltung/GeraeteartDetails"><img src="../Bilder/bearbeiten-button.jpg" alt="Bearbeiten" height="20px" /></a></td></tr></tbody>

</table>